dataset/
images/
figures/
tb/
.idea/
hci/
original/.vector_cache/
__pycache__/
cached_data/
models/
.ipynb_checkpoints/
temp/
webhook_url.txt
img_faulty
mask_faulty
cap_faulty
img_vec_faulty
txt_vec_faulty
logs/
train_main.py

